#area {
    width: 400px;
    height: 200px;
    margin: 0 auto;
    background: #f000f0;
}

#time {
    text-align: center;
    font-size:3rem;
    padding: 20px 0;
}

#color {
    text-align: center;
    font-size:1.5rem;
    padding: 20px;
}